@import url(/css/fonts.css);
/* @import url(/css/reset.css); */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
    --active-purple: hsl(281, 83%, 54%);
    
}

body {
    display: grid;
    grid-template-rows: 1fr auto;
    place-items: center;
    line-height: 1.2;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--light-pink);
    margin: 0;
}

img {
    width: 100%;
    height: inherit;
    display: block;
    object-fit: cover;
}

.bg-top {
    width: 100%;
    height: 100%;
    max-height: 300px;
    & source {
        display: block;
    }
}

.faqs-card {
    position: absolute;
    top: 8rem;
    width: 85%;
    border-radius: .5rem;
    margin: 0 auto;
    padding: 1.5rem;
    max-width: 600px;
    min-width: 280px;
    min-height: 450px;
    background-color: var(--white);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.faqs-card__title {
    font-size: 2.5rem;
    margin-top: 0;
}

.faqs-card__title::before {
    content: url(/assets/images/icon-star.svg);
    display: inline-block;
    margin-right: 2rem;
}

.question {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0 1rem;
    align-items: center;
    padding-block: 0.25rem;
    border-top: 1px solid hsl(0, 0%, 95%);
}

.question__title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark-purple);
}

.icon-plus {
    width: 32px;
}

.response {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    margin-bottom: 0rem;
    color: var(--grayish-purple);
    font-size: .875rem;
    transition: all ease .3s;
}

.show-response {
    opacity: 1;
    visibility: visible;
    margin-bottom: 8rem;
}

.question__title:hover {
    color: var(--active-purple);
    cursor: pointer;
}

@media (min-width: 600px) {
    .response {
        font-size: 1.125rem;
    }

    .question__title {
        font-size: 1.125rem;
    }

    .question {
        padding-block: 1rem;
    }
}